.navItem {
  align-items: center;
  border: 0;
  color: #b8b7ad;
  cursor: pointer;
  display: flex !important;
  outline: none;
  padding: 1em;
  text-decoration: none;
}
.navItem:hover {
  color: #c94e50;
}

.navItemFocus {
  color: #e94e80;
}

.navItemIcon {
  padding-right: 0.5rem;
}
