@import "../../variables";

.row {
  display: flex;

  @include small-pad-width {
    display: inherit;
  }
  @include phone-width {
    display: inherit;
  }
}

#colContainer {
  @include small-pad-width {
    width: 100%;
  }
  @include phone-width {
    width: 100%;
  }
}

.lineChartContainer {
  @extend #colContainer;
  width: 65%;
}

.rightContainer {
  @extend #colContainer;
  display: flex;
  flex-direction: column;
  width: 35%;
}

.infoContainer {
  margin-top: auto;

  margin-left: 2rem;
  @include small-pad-width {
    margin-left: inherit;
  }
  @include phone-width {
    margin-left: inherit;
  }
}

.nameContainer {
  @include small-pad-width {
    margin-top: 1rem;
  }
  @include phone-width {
    margin-top: 1rem;
  }
}
