.card {
  margin-bottom: 1rem;
}
.column {
  display: flex;
  margin-bottom: 0.7rem;
}
.header {
  color: #777;
  font-weight: 700;
  font-size: 0.8rem;
}
.reasonForDisclosureValue {
  margin-right: 0.5rem;
}
.value {
  margin-left: auto;
}
