.contentRounded {
}
.container {
  width: 100%;
}
.img {
  @extend .contentRounded;
}
.link {
}

.shadow {
  @extend .contentRounded;
  position: absolute;
  background-color: black;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.name {
}
