@import "../variables";

.desc {
  margin-bottom: 30vh;
}

.duration {
  color: #666;
  font-size: 13px;
  text-align: end;
  margin-left: auto;
}

.name {
  color: $primaryColor;
}

.titleRow {
  display: flex;
  align-items: center;
}
